@model Agenda.Models.Medico

@*@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<h4>Médico</h4>

<h3>Esta seguro de eliminar el siguiente médico?</h3>
<div>
    <h5>Médico</h5>
    <hr />

    <div class="row">
        <div class="col s12 m6">
            <div class="card hoverable blue darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><h5><b>@Html.DisplayFor(model => model.Nombre), @Html.DisplayFor(model => model.Apellido)</b></h5></span>
                    <dl>
                        <dt>
                            <b>@Html.DisplayNameFor(model => model.Nombre):</b> @Html.DisplayFor(model => model.Nombre)
                        </dt>
                        <hr />
                        <dt>
                            <b>@Html.DisplayNameFor(model => model.Apellido):</b> @Html.DisplayFor(model => model.Apellido)
                        </dt>
                        <hr />
                        <dt>
                            <b>@Html.DisplayNameFor(model => model.Direccion):</b> @Html.DisplayFor(model => model.Direccion)
                        </dt>
                        <hr />
                        <dt>
                            <b>@Html.DisplayNameFor(model => model.Telefono):</b> @Html.DisplayFor(model => model.Telefono)
                        </dt>
                        <hr />
                        <dt>
                            <b>@Html.DisplayNameFor(model => model.Email):</b> @Html.DisplayFor(model => model.Email)
                        </dt>
                        <hr />
                        <dt>
                            <b>@Html.DisplayNameFor(model => model.HorarioAtencionDesde):</b> @Html.DisplayFor(model => model.HorarioAtencionDesde)
                        </dt>
                        <hr />
                        <dt>
                            <b>@Html.DisplayNameFor(model => model.HorarioAtencionHasta):</b> @Html.DisplayFor(model => model.HorarioAtencionHasta)
                        </dt>
                    </dl>
                </div>
                <div class="card-action blue-grey darken-2">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdMedico" />
                        <input type="submit" value="Eliminar" class="waves-effect waves-light btn-small orange lighten-2" />
                        <a asp-action="Index" class="right">Volver</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
